services:
  web-service:
    environment:
      - ENV_VARIABLE=production
      - NEXT_PUBLIC_RECORD_API_URL=http://record-service:8080/record
    restart: always
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    deploy:
      resources:
        limits:
          memory: 50M

  record-service:
    restart: always
    build:
      context: ./backend/record-service
      dockerfile: Dockerfile
    deploy:
      resources:
        limits:
          memory: 50M

  password-service:
    restart: always
    build:
      context: ./backend/password-service
      dockerfile: Dockerfile
    deploy:
      resources:
        limits:
          memory: 50M

  ddns-ip-service:
    restart: always
    build:
      context: ./backend/ddns-ip-service
      dockerfile: Dockerfile
    deploy:
      resources:
        limits:
          memory: 50M
  
  database:
    image: postgres:alpine
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: defaultdnsupdaterpassword
      POSTGRES_USER: dnsupdater